@model Photojournal.Models.ViewModels.JournalEntryViewModel

<head>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <!-- Filepond stylesheet -->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
          rel="stylesheet" />
    <link href="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.css"
          rel="stylesheet" />
    <style>
        .filepond--item {
            width: calc(50% - 0.5em);
        }

        .filepond--root {
            max-height: 1000px;
        }
    </style>



</head>
<div class="container">
    <div class="row my-3">
        <div class="col">
            <a asp-area="Admin" asp-controller="JournalEntry" asp-action="Index" class="btn btn-primary">Back</a>
        </div>
    </div>
    <form id="uploadForm" method="post" enctype="multipart/form-data">
        <div class="row my-1">
            <!--form inputs-->
            @*<div class="text-danger" asp-validation-summary="All">
            <span>Please correct the following errors</span>
            </div>*@
            <div class="col-6">
                <input hidden asp-for="PhotoLocationLat" type="number" step="0.00000001" id="photoLatitude" />
                <input hidden asp-for="PhotoLocationLng" type="number" step="0.00000001" id="photoLongitude" />

                <div class="form-group">
                    <label class="form-label mt-4">Title for this set of photos</label>
                    <input asp-for="JournalEntry.Title" type="text" class="form-control">
                    <span class="text-danger" asp-validation-for="JournalEntry.Title"></span>
                </div>
                <div class="form-group">
                    <label class="form-label mt-4">Description for this set of photos.</label>
                    <textarea asp-for="JournalEntry.Description" class="form-control"></textarea>
                    <span class="text-danger" asp-validation-for="JournalEntry.Description"></span>
                </div>
                <div class="form-group">
                    <label class="form-label mt-4">When was this set taken?</label>
                    <input asp-for="PhotoSetDate" type="datetime-local" class="form-control">
                    <span class="text-danger" asp-validation-for="PhotoSetDate"></span>
                </div>
                <div class="form-group">
                    <label class="form-label mt-4">Select location</label>
                    <div class="mt-1 mb-2" style="height:400px;width:100%;" id="map"></div>
                </div>

                <button class="btn btn-success mt-3" type="submit" onclick="return ValidateInput()">Upload PhotoSet</button>


            </div>
            <!--display image thumbnails-->
            <div class="col-6">
                <div class="form-group">
                    <label class="form-label mt-4">Select photos to include in this set</label>
                    @*<input onchange="previewFiles()" class="form-control" multiple type="file" id="uploadBox" name="postedFiles">*@
                    @*<input type="file" class="filepond" name="filepond" multiple data-allow-reorder="true"
                    data-max-file-size="3MB" data-max-files="3">*@
                    <!-- We'll transform this input into a pond -->
                    <input id="uploadBox" name="postedFiles" type="file" multiple class="form-control filepond"
                           style="max-height:1000px;" asp-for="postedFiles">
                </div>
            </div>
        </div>
    </form>
    <!-- Load FilePond library -->
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <!-- Turn all file input elements into ponds -->
    <script>
        $(document).ready(function (e) {
            pond = FilePond.create(
                document.querySelector('.filepond'), {
                allowMultiple: true,
                instantUpload: false,
                allowProcess: false,
                acceptedFileTypes: ['image/*']
            });

            $("#uploadForm").submit(function (e) {
                e.preventDefault();
                var formdata = new FormData(this);
                // append FilePond files into the form data
                pondFiles = pond.getFiles();
                for (var i = 0; i < pondFiles.length; i++) {
                    // append the blob file
                    formdata.append('postedFiles', pondFiles[i].file);
                }

                $.ajax({
                    url: "/Admin/JournalEntry/Create",
                    data: formdata,
                    processData: false,
                    contentType: false,
                    method: "post",
                    success: function (response) {
                        window.location.href = response.redirectToUrl;
                    }
                });
            })
        });
        FilePond.registerPlugin(
            FilePondPluginImagePreview,
            FilePondPluginFilePoster,
            FilePondPluginFileValidateType,
            FilePondPluginFileEncode,
            FilePondPluginImageExifOrientation
        );
    </script>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        function ValidateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire({
                    title: 'Oops...',
                    text: 'Please upload an image!',
                    icon: 'error'
                    //confirmButtonText: 'Cool'
                })
                return false;
            }
            return true;
        }
    </script>

    <script>
        var torontoLat = 43.7183438;
        var torontoLng = -79.4482686;
        var currentMarkerCoordinates = { 'lat': torontoLat, 'lng': torontoLng }
        // Create Map
        var map = L.map('map').setView([torontoLat, torontoLng], 5);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Add default marker
        //L.marker([42.1443888, -124.3550473]).addTo(map)
        //.bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
        //.openPopup();

        // Allow creating marker
        var marker;
        map.on('click', function (e) {
            if (marker)
                map.removeLayer(marker);
            //console.log(e.latlng); // e is an event object (MouseEvent in this case)
            marker = L.marker(e.latlng).addTo(map);
            currentMarkerCoordinates = marker.getLatLng();
            $('#photoLatitude').val(currentMarkerCoordinates.lat);
            console.log(document.getElementById("photoLatitude").value);
            $('#photoLongitude').val(currentMarkerCoordinates.lng);
            console.log(document.getElementById("photoLongitude").value);
        });

                        // Add search box
    </script>
}