@model Photoblog.Models.ViewModels.JournalEntryViewModel
<div class="container">
    <div class="row my-3">
        <div class="col">
            <a class="btn btn-primary">Back</a>
        </div>
    </div>
    <div class="row my-1">
        <!--form inputs-->
            @*<div class="text-danger" asp-validation-summary="All">
                <span>Please correct the following errors</span>
            </div>*@
         <div class="col-6">
            <form method="post" enctype="multipart/form-data">
                <input hidden asp-for="JournalEntry.Id" />
                <input hidden asp-for="PhotoLocationLat" type="number" step="0.00000001" id="photoLatitude" />
                <input hidden asp-for="PhotoLocationLng" type="number" step="0.00000001" id="photoLongitude" />
                <div class="form-group">
                    <label class="form-label mt-4">Select photos to include in this set</label>
                    <input disabled class="form-control" multiple type="file" id="uploadBox" name="postedFiles">
                </div>
                <div class="form-group">
                    <label class="form-label mt-4">Title for this set of photos</label>
                    <input asp-for="JournalEntry.Title" type="text" class="form-control">
                    <span class="text-danger" asp-validation-for="JournalEntry.Title"></span>
                </div>
                <div class="form-group">
                    <label class="form-label mt-4">Description for this set of photos.</label>
                    <textarea asp-for="JournalEntry.Description" class="form-control"></textarea>
                    <span class="text-danger" asp-validation-for="JournalEntry.Description"></span>
                </div>
                <div class="form-group">
                    <label class="form-label mt-4">When was this set taken?</label>
                    <input asp-for="PhotoSetDate" type="datetime-local" class="form-control">
                    <span class="text-danger" asp-validation-for="PhotoSetDate"></span>
                </div>
                
                <button class="btn btn-success mt-3" type="submit" onclick="return ValidateInput()">Confirm Changes</button>
            </form>
         </div>
        <!--display image thumbnails if they were selected-->
        <div class="col-6">
            <!--show map-->
            <div class="row" >
            @foreach (var photo in Model.JournalEntry.PhotoList)
            {
                    <div class="col">
                        <img style="height:200px;" src="@photo.ImageUrl">
                    </div>
            }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

@*    <script>
        function ValidateInput(){
            if(document.getElementById("uploadBox").value == ""){
                Swal.fire({
                    title: 'Oops...',
                    text: 'Please upload an image!',
                    icon: 'error'
                    //confirmButtonText: 'Cool'
                })
                return false;
            }
            return true;
        }
    </script>*@

    <script>
        var torontoLat = 43.7183438;
        var torontoLng = -79.4482686;
        var currentMarkerCoordinates = {'lat':torontoLat, 'lng':torontoLng}
        // Create Map
        var map = L.map('map').setView([torontoLat, torontoLng], 5);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Add default marker
        //L.marker([42.1443888, -124.3550473]).addTo(map)
        //.bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
        //.openPopup();

        // Allow creating marker
        var marker;
        map.on('click', function (e) {
            if (marker)
                map.removeLayer(marker);
            //console.log(e.latlng); // e is an event object (MouseEvent in this case)
            marker = L.marker(e.latlng).addTo(map);
            currentMarkerCoordinates = marker.getLatLng();
            $('#photoLatitude').val(currentMarkerCoordinates.lat);
            console.log(document.getElementById("photoLatitude").value);
            $('#photoLongitude').val(currentMarkerCoordinates.lng);
            console.log(document.getElementById("photoLongitude").value);
        });

                // Add search box
    </script>
}