<div class="container">
    <div class="row my-4">
        <div class="col-6">
            <h2>Photojournal Entry List</h2>
        </div>
        <div class="col-6">
            <a class="btn btn-success float-end" asp-action="Create">Create New Entry</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-striped table-light" id="journalEntryTable">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Photo List</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/journalEntry.js"></script>
}